
<div id="invite" class="span-24 last">
<div class="prepend-6 span-12 append-6 tspan-1 bspan-1 last">
	<a id="great" href=""></a>
	<h1>Report a bug</h1>
	<p>To report a bug, send us an email to:</p>
	<blockquote>
		<span class="code">{Email}</span>
	</blockquote>
	<p>Please, don't forget to include the following string in the beginning of your email:</p>
	<blockquote>
		<span class="code standbig">Build: {Build}<br>Id: {MaskId}</span>
	</blockquote>
	<p>You will find a file named <span class="code">tonika.log</span> in the directory where you
	started the program. Please attach this file to your email. Thank you.</p>
</div>

<div class="prepend-6 span-12 append-6 tspan-1 bspan-2 last">
	<center>
	<input type="submit" id="f_done" name="f_done" value="Cool, thanks" tabindex="1" /> 
	</center>
</div>
</div>
