
<div id="invite" class="span-24 last">
<div class="span-18 append-6 tspan-1 bspan-1 last">
	<a id="great" href=""></a>
	<h1>Program monitor</h1>
	<p><span class="subdue">Updated every second.</span></p>
</div>
<div id="screen" class="span-18 append-6 tspan-1 bspan-1 last">
	<blockquote>
		<pre id="f_text">{Text}</pre>
	</blockquote>
</div>
</div>
