
<div id="invite" class="span-24 last">
<div class="prepend-6 span-12 append-6 tspan-1 bspan-1 last">
	<a id="great" href="#invite"></a>
	<h1>Invitation email</h1>
	<p>Email the message below to your friend. Feel free to change the text. Just don't mess
	with the links.</p>
</div>

<div class="prepend-4 span-16 append-4 tspan-2 last">
	<textarea id="f_msg" name="f_msg" rows="24" cols="68" tabindex="5">
	{Invite}
	</textarea>
</div>

<div class="prepend-6 span-12 append-6 tspan-1 last">
	<p>They will send you an email with a confirmation link. Expect that.</p>
</div>

<div class="prepend-6 span-12 append-6 tspan-1 bspan-2 last">
	<center>
	<input type="submit" id="f_done" name="f_done" value="Done" tabindex="6" /> 
	</center>
</div>
</div>
