
<div class="span-4 last tspan-2">
	<center>
	<ul id="social">
	    <li><a href="http://blog.5ttt.org"><img src="logo-icon.png" /> Tonika</a></li>
	    <li><a href="http://blog.5ttt.org"><img src="wp-icon.png" /> Blog Tonika</a></li>
	    <li><a href="http://twitter.com/5ttt"><img src="tw2-icon.png" /> Follow on Twitter</a></li>
	</ul>
	</center>
</div>
