<html>
  <head>
    <title>Tonika</title>
    <link href="/favicon.ico" type="image/x-icon" rel="shortcut icon" /> 
    <link href="/favicon.ico" type="image/x-icon" rel="icon" /> 
    <link rel="stylesheet" type="text/css" href="/tonika.css">
    <script type="text/javascript" src="/jquery-1.4.2.min.js"></script>
    <script type="text/javascript" src="/urlEncode.js"></script>
    <script type="text/javascript" src="/tonika.js"></script>
  </head>

  <body>

    <div id="page">
        <div id="logo">
          <img src="/Logo.png" alt="Tonika Logo" />
          <ul>
            <li class="wiggle"><a href="http://blog.5ttt.org"><img src="wp-icon.png" /> Blog Tonika</a></li>
            <li class="wiggle"><a href="http://twitter.com/5ttt"><img src="tw2-icon.png" /> Follow on Twitter</a></li>
            <li class="wiggle"><a href="http://groups.google.com/group/5ttt"><img src="gg-icon.png" /> Tonika Google group</a></li>
          </ul>

          <p>Spread the word:</p>
          <div id="spread">
            <a class="wgg" href="http://www.google.com/buzz/post?url=" onclick="window.location = this.href +
              encodeURIComponent(window.location); return false"> <img
              src="/buzz-small.png" alt="submit to Buzz"></a> 
             
            <a class="wgg" href="http://www.facebook.com/share.php?u=" onclick="window.location = this.href +
              encodeURIComponent(window.location); return false"> <img
              src="/fb-small.png" alt="submit to facebook"></a> 
             
            <a class="wgg" href="http://twitter.com/home?status=" onclick="window.location = this.href +
              encodeURIComponent('#io2010 ' +window.location); return false"> <img
              src="/tw-small.png" alt="submit to twitter"></a> 
             
            <a class="wgg" href="http://www.reddit.com/submit?url=" onclick="window.location = this.href +
              encodeURIComponent(window.location); return false"> <img
              src="/reddit-small.gif" alt="submit to reddit"></a> 
             
            <a class="wgg" href="http://digg.com/submit?url=" onclick="window.location = this.href +
              encodeURIComponent(window.location); return false"> <img
              src="/digg-small.gif" alt="submit to digg"></a> 
             
            <a class="wgg" href="http://delicious.com/save?v=5&amp;noui&amp;jump=close&amp;url="
              onclick="window.location = this.href + encodeURIComponent(window.location); return
              false"> <img src="/d-small.png" alt="submit to delicious"></a> 
          </div>
        </div>
    
	<div id="content">
		
		<div class="entry moto">
                  <p>Own your social ties.</p>
                </div>
		<div class="entry">
                  <h1>What is <span class="toncolor">Tonika</span>?</h1> 
                  <p>Tonika allows a priavte social network of unlimited size to form a secure, 
                  independent and full-featured WWW, where every participant can publish and browse
                  on equal basis.</p>
                  <p>Users of Tonika are equal citizens in a private and 
                  secure Internet of their own.
                    Every user obtains a permanent anonymous URL, under which
                                they can publish content or services. 
                                Low-level physical message exchange occurs only between pairs of 
                                related users in an encrypted and authenticated fashion. 
                                Novel routing algorithms
                                establish bilaterally anonymous and encrypted 
                                communication between any pair of users.</p>
		</div>
		
		<div class="entry">
                  <h1>Why <span class="toncolor">Tonika</span>?</h1> 
                  <p>Tonika was designed to address various Internet issues raised
                  in the <a href="http://www.internet-manifesto.org/">Internet Manifesto</a> 
                  as well as the
                  problem of unfair bandwidth allocation, known as 
                  <a href="http://en.wikipedia.org/wiki/Network_neutrality">Network Neutrality</a>.
                  And last but not least, Tonika is designed to enable a fully decentralized 
                  world-wide social network, where participants have full control over their 
                  privacy and anonymity.
                  </p>
                  <p>The routing algorithms that allow Tonika to scale are a product of 
                  many years of mathematical research. Some of the algorithms behind
                  Tonika are now published. See e.g. 
                  <a href="http://dx.doi.org/10.1016/j.tcs.2010.06.013">Electric Routing and 
                    Concurrent Flow Cutting</a>.
		</div>

		<div class="entry">
			<h1>Open source.</h1>
                        <p>Tonika is open-source under the GNU Affero General Public License. 
                        You can view and download the latest sources
                        at <a href="http://code.google.com/p/tonika/">Tonika on Google Code</a>.
                        If you'd like to contribute, please <a href="mailto:petar@5ttt.org">email us</a>
                        to find out what are the current projects, or start a discussion on 
                        <a href="http://groups.google.com/group/5ttt">Tonika's Google Group</a>.
                        </p>
		</div>
		
		<div class="entry">
			<p><h1>Contact!</h1>
                        News, releases and such will be announced
                        on <a href="http://twitter.com/5ttt">Twitter</a>. 
                        If you want to contact the Tonika authors, don't hesitate to
                        send us an <a href="mailto:petar@5ttt.org">email</a>.
		</div>
		
	</div>

        <div id="livebar">
          <div id="twitter-feed">
          <script src="http://widgets.twimg.com/j/2/widget.js"></script>
		<script>
		new TWTR.Widget({
		  version: 2,
		  type: 'profile',
		  rpp: 4,
		  interval: 6000,
		  width: 215,
		  height: 300,
		  theme: {
		    shell: {
		      background: '#ffffff',
		      color: '#000000'
		    },
		    tweets: {
		      background: '#ffffff',
		      color: '#3d3d3d',
		      links: '#44bb11'
		    }
		  },
		  features: {
		    scrollbar: false,
		    loop: false,
		    live: true,
		    hashtags: true,
		    timestamp: true,
		    avatars: false,
		    behavior: 'all'
		  }
		}).render().setUser('5ttt').start();
		</script>
              </div>
        </div>

      </div>

        <div id="footer">
          <div id="copy">
            2009-2010 &copy; <a href="http://pdos.csail.mit.edu/~petar/">Petar Maymounkov</a>
          </div>
        </div>

  </body>
</html>
